services:

  flask-app:
    build: .
    container_name: my_app
    depends_on:
      - mongodb
    restart: "on-failure"

    environment:
      MONGO_HOST: mongodb
      MONGO_PORT: 27017
      MONGO_USER: ${MONGO_USER}
      MONGO_PASSWORD: ${MONGO_PASSWORD}

    ports:
      - "5000:5000"


  mongodb:
    image: mongo:5.0
    container_name: mongodb
    restart: "on-failure"

    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}

    ports:
      - "27017:27017"

    volumes:
      - mongo-data:/data/db


volumes:
  mongo-data:
    driver: local
